.card {
    margin: 2.5%;
    width: 20%;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    transition: ease-in-out .5s;
}
.card:hover{
transform: scale(1.2);
}
.pokemon-sprite {
    width: 100%;
}
.pokemon-name {
    text-align: center;
}
.link {
    text-decoration: none;
    color: black;
}
